@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");

body {
  background: linear-gradient(236.85deg, #eec2db 27.26%, #b2e7ee 96.03%);
  font-family: "Rajdhani", sans-serif;
}

.container {
  background: #ecf4ff;
  /*   color: rgba(28, 28, 28, 1); */
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(243, 55, 234, 0.25);
}

.titulo {
  margin-left: 16px;
  color: #ab7da2;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 200;
  font-size: 24px;
}

.titulo h5 {
  font-weight: 100;
  font-size: 15px;
  color:#ab7da2;
}

.tema button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #ecf4ff;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0e1d2f;
}


.projetos {
  max-height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;
  padding: 8px 32px;
  background: linear-gradient(236.85deg, #eec2db 27.26%, #b2e7ee 96.03%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.projetos ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.projetos li {
  list-style-type: none;
  font-size: 20px;
  line-height: 2em;
}

.conquistas ul {
  list-style: none;
  padding-left: 0;
  font-weight: 700;
  font-size: 24px;
}

.conquistas li {
  list-style-type: none;
}

.conquistas img {
  max-height: 100px;
}

.dark {
  background: linear-gradient(236.85deg, #eec2db 27.26%, #b2e7ee 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .portfolio {
  color: #1c1c1c;
}

.dark .tema button {
  color: #ffffff;
  background: #1c1c1c;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #f7f7f7;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border: 1.8px solid #1c1c1c;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ecf4ff;
}

::-webkit-scrollbar-track {
  background: #ecf4ff;
  border-radius: 100px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin: 15px 0px;
}
